html,
body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}


.photo {
    position: relative;
    width: 100%;

    a {
        width: 100%;

        img {
            width: 100%;
        }
    }
}


header {
    width: 100%;

    .top {
        position: absolute;
        top: 0;
        left: 0;
        height: (70rem / 64);
        width: 100%;
        background-color: rgba(255, 255, 255, .5);

        .logo {
            float: left;
            margin-top: (10rem / 64);
            margin-left: (10rem / 64);

            img {
                width: (100rem / 64);
                height: (80rem / 64);
            }
        }
    }

    .search {
        float: left;
        width: (400rem / 64);
        height: (50rem / 64);
        background-color: #fefefe;
        border-radius: (10rem / 64);
        margin-top: (20rem / 64);
        margin-left: (20rem / 64);

        .iconfont {
            line-height: (50rem / 64);
            margin-left: (5rem / 64);
            color: #999;
        }

        input {
            border: none;
            color: #999;
        }
    }

    .header-right {
        float: right;
        margin-top: (30rem / 64);
        margin-left: (25rem / 64);
    }
}

.iconfont {
    color: #fff;
}

.list {
    position: absolute;
    top: (330rem / 64);
    left: (20rem / 64);
    width: (600rem / 64);
    height: (175rem / 64);
    background-color: #fff;

    ul {
        width: 100%;
        overflow: hidden;

        li {
            float: left;
            text-align: center;
            margin-top: (30rem / 64);
            width: 20%;

            a {
                width: 100%;

                img {
                    width: (80rem / 64);
                    height: (80rem / 64);
                }

                span {
                    display: block;
                    margin-top: (10rem / 64);
                    color: #757575;
                }
            }
        }
    }
}

main {
    margin-top: (20rem / 64);
    width: 100%;
    background-color: #f5f5f5;

    .adv {
        margin-top: (100rem / 64);
        width: 100%;

        ul {
            width: 100%;
            overflow: hidden;

            li {
                width: 50%;
                float: left;

                a {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .super {
        width: 100%;

        .top {
            width: 100%;
            height: (60rem / 64);
            background-color: #fff;

            h2 {
                float: left;
                font-size: (24rem / 64);
                font-weight: 700;
                margin-left: (20rem / 64);
                line-height: (60rem / 64);
            }

            span:nth-child(even) {
                background-color: #000;
                color: #fff;
                margin-left: (10rem / 64);
                line-height: (60rem / 64);
                padding: 0 2px;
                border-radius: 2px;
            }

            p {
                float: right;
                line-height: (60rem / 64);
                color: #ff6700;
                font-size: (24rem / 64);
                font-weight: 600;
                margin-right: (10rem / 64);
            }
        }
    }

    .bottom {
        width: 100%;

        ul {
            width: 100%;
            overflow: hidden;

            li {
                width: 50%;
                float: left;

                img {
                    width: (197rem / 64);
                    height: (200rem / 64);
                }
            }
        }
    }

    .adv1 {
        width: 100%;
        margin-top: (-30rem / 64);

        img {
            width: 100%;
        }
    }

    .banner {
        overflow: hidden;
        width: 100%;
        height: (260rem / 64);
        background-color: #fff;
        margin-top: (10rem / 64);

        ul {
            overflow-x: scroll;
            cursor: pointer;

            &::-webkit-scrollbar {
                height: (150rem / 64);
            }

            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
            }
        }

        li {
            overflow: hidden;
            text-align: center;
            color: #fff;

            xa &:first-child {
                margin-left: 0;
            }
        }
    }

    .flex {
        ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            li {
                flex-shrink: 0;
                width: (190rem / 64);

                img {
                    width: 100%;
                }

                span {
                    display: block;
                    color: #000;
                }
            }
        }
    }

    .adv2 {
        width: 100%;
        // margin-top: (-30rem / 64);

        img {
            width: 100%;
        }
    }

    .want {
        width: 100%;

        .top {
            width: 100%;
            height: (50rem / 64);
            background-color: #fff;
            box-sizing: border-box;

            h3 {
                font-size: (28rem / 64);
                font-weight: 700;
                line-height: (50rem / 64);
                margin-left: (10rem / 64);
            }
        }
    }

    .bottom {
        width: 100%;
        background-color: #fff;

        ul {
            overflow: hidden;
            width: 100%;

            li {
                float: left;
                width: 50%;

                a {
                    width: 100%;

                    img {
                        width: 100%;
                    }

                    span {
                        // width: (35rem / 64);
                        width: 100%;
                        // height: (19rem / 64);
                        border: 1px solid #ff6700;
                        color: #ff6700;
                        margin-left: (30rem / 64);
                        padding: 0 (10rem / 64);
                    }

                    p {
                        color: #666;
                        font-size: (24rem / 64);
                        font-weight: 500;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0 (30rem / 64);
                        margin-top: (20rem / 64);
                        margin-bottom: (20rem / 64);
                    }

                    b {
                        color: #ff6700;
                        margin-left: (40rem / 64);
                        font-size: (24rem / 64);
                        font-weight: normal;
                    }

                    s {
                        float: right;
                        text-decoration: none;
                        margin-right: (30rem / 64);
                        border: 1px solid #ccc;
                        padding: (5rem / 64) (10rem / 64);
                        color: #999;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #f5f5f5;

    .footer {
        width: 100%;
        // background-color: #f5f5f5;

        img {
            width: (69rem / 64);
            height: (79rem / 64);
            margin-left: (270rem / 64);
            margin-top: (50rem / 64);
        }

        span {
            float: left;
            margin-top: (20rem / 64);
            margin-left: (180rem / 64);
        }
    }

    .bottom {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: (50rem / 64);
        line-height: (30rem / 64);

    }
}