html,
body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.photo {
  position: relative;
  width: 100%;
}

.photo a {
  width: 100%;
}

.photo a img {
  width: 100%;
}

header {
  width: 100%;
}

header .top {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.09375rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

header .top .logo {
  float: left;
  margin-top: 0.15625rem;
  margin-left: 0.15625rem;
}

header .top .logo img {
  width: 1.5625rem;
  height: 1.25rem;
}

header .search {
  float: left;
  width: 6.25rem;
  height: 0.78125rem;
  background-color: #fefefe;
  border-radius: 0.15625rem;
  margin-top: 0.3125rem;
  margin-left: 0.3125rem;
}

header .search .iconfont {
  line-height: 0.78125rem;
  margin-left: 0.07812rem;
  color: #999;
}

header .search input {
  border: none;
  color: #999;
}

header .header-right {
  float: right;
  margin-top: 0.46875rem;
  margin-left: 0.39062rem;
}

.iconfont {
  color: #fff;
}

.list {
  position: absolute;
  top: 5.15625rem;
  left: 0.3125rem;
  width: 9.375rem;
  height: 2.73438rem;
  background-color: #fff;
}

.list ul {
  width: 100%;
  overflow: hidden;
}

.list ul li {
  float: left;
  text-align: center;
  margin-top: 0.46875rem;
  width: 20%;
}

.list ul li a {
  width: 100%;
}

.list ul li a img {
  width: 1.25rem;
  height: 1.25rem;
}

.list ul li a span {
  display: block;
  margin-top: 0.15625rem;
  color: #757575;
}

main {
  margin-top: 0.3125rem;
  width: 100%;
  background-color: #f5f5f5;
}

main .adv {
  margin-top: 1.5625rem;
  width: 100%;
}

main .adv ul {
  width: 100%;
  overflow: hidden;
}

main .adv ul li {
  width: 50%;
  float: left;
}

main .adv ul li a {
  width: 100%;
}

main .adv ul li a img {
  width: 100%;
}

main .super {
  width: 100%;
}

main .super .top {
  width: 100%;
  height: 0.9375rem;
  background-color: #fff;
}

main .super .top h2 {
  float: left;
  font-size: 0.375rem;
  font-weight: 700;
  margin-left: 0.3125rem;
  line-height: 0.9375rem;
}

main .super .top span:nth-child(even) {
  background-color: #000;
  color: #fff;
  margin-left: 0.15625rem;
  line-height: 0.9375rem;
  padding: 0 2px;
  border-radius: 2px;
}

main .super .top p {
  float: right;
  line-height: 0.9375rem;
  color: #ff6700;
  font-size: 0.375rem;
  font-weight: 600;
  margin-right: 0.15625rem;
}

main .bottom {
  width: 100%;
}

main .bottom ul {
  width: 100%;
  overflow: hidden;
}

main .bottom ul li {
  width: 50%;
  float: left;
}

main .bottom ul li img {
  width: 3.07812rem;
  height: 3.125rem;
}

main .adv1 {
  width: 100%;
  margin-top: -0.46875rem;
}

main .adv1 img {
  width: 100%;
}

main .banner {
  overflow: hidden;
  width: 100%;
  height: 4.0625rem;
  background-color: #fff;
  margin-top: 0.15625rem;
}

main .banner ul {
  overflow-x: scroll;
  cursor: pointer;
}

main .banner ul::-webkit-scrollbar {
  height: 2.34375rem;
}

main .banner ul::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

main .banner li {
  overflow: hidden;
  text-align: center;
  color: #fff;
}

xa main .banner li:first-child {
  margin-left: 0;
}

main .flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .flex ul li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.96875rem;
}

main .flex ul li img {
  width: 100%;
}

main .flex ul li span {
  display: block;
  color: #000;
}

main .adv2 {
  width: 100%;
}

main .adv2 img {
  width: 100%;
}

main .want {
  width: 100%;
}

main .want .top {
  width: 100%;
  height: 0.78125rem;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .want .top h3 {
  font-size: 0.4375rem;
  font-weight: 700;
  line-height: 0.78125rem;
  margin-left: 0.15625rem;
}

main .bottom {
  width: 100%;
  background-color: #fff;
}

main .bottom ul {
  overflow: hidden;
  width: 100%;
}

main .bottom ul li {
  float: left;
  width: 50%;
}

main .bottom ul li a {
  width: 100%;
}

main .bottom ul li a img {
  width: 100%;
}

main .bottom ul li a span {
  width: 100%;
  border: 1px solid #ff6700;
  color: #ff6700;
  margin-left: 0.46875rem;
  padding: 0 0.15625rem;
}

main .bottom ul li a p {
  color: #666;
  font-size: 0.375rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.46875rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

main .bottom ul li a b {
  color: #ff6700;
  margin-left: 0.625rem;
  font-size: 0.375rem;
  font-weight: normal;
}

main .bottom ul li a s {
  float: right;
  text-decoration: none;
  margin-right: 0.46875rem;
  border: 1px solid #ccc;
  padding: 0.07812rem 0.15625rem;
  color: #999;
}

footer {
  width: 100%;
  background-color: #f5f5f5;
}

footer .footer {
  width: 100%;
}

footer .footer img {
  width: 1.07812rem;
  height: 1.23438rem;
  margin-left: 4.21875rem;
  margin-top: 0.78125rem;
}

footer .footer span {
  float: left;
  margin-top: 0.3125rem;
  margin-left: 2.8125rem;
}

footer .bottom {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 0.78125rem;
  line-height: 0.46875rem;
}
/*# sourceMappingURL=index.css.map */