html,
body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.photo {
    position: relative;
    width: 100%;

    a {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

header {

    width: 100%;

    // background-color: lightcoral;

    .top {
        position: absolute;
        top: 0;
        left: 0;
        height: (70rem / 64);
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);

        .logo {
            float: left;
            margin-top: (10rem / 64);
            margin-left: (10rem / 64);

            img {
                width: (100rem / 64);
                height: (80rem / 64);
            }
        }


    }



    .search {
        float: left;
        width: (400rem / 64);
        height: (50rem / 64);
        background-color: #fefefe;
        border-radius: (10rem / 64);
        margin-top: (20rem / 64);
        margin-left: (20rem / 64);

        .iconfont {
            // padding-top: (50rem / 64);
            line-height: (50rem / 64);
            margin-left: (5rem / 64);
            color: #999;
        }

        input {
            border: none;
            color: #999;
        }
    }

    .header-right {
        float: right;

        // font-size: (24rem / 64);
        margin-top: (30rem / 64);
        margin-left: (25rem / 64);
    }

    .iconfont {
        color: #fff;
    }

    .list {
        position: absolute;
        top: (330rem / 64);
        left: (20rem / 64);
        width: (600rem / 64);
        height: (175rem / 64);
        background-color: #fff;
        // margin: auto;

        ul {
            width: 100%;
            overflow: hidden;

            li {
                text-align: center;
                margin-top: (30rem / 64);
                width: 20%;
                float: left;

                a {
                    width: 100%;

                    img {
                        width: (80rem / 64);
                        height: (80rem / 64);
                    }

                    span {
                        display: block;
                        margin-top: (10rem / 64);
                        color: #757575;
                    }
                }
            }
        }
    }

}

main {
    // padding: 0 (10rem / 64);
    margin-top: (20rem / 64);
    width: 100%;
    background-color: #f5f5f5;

    .adv {
        margin-top: (100rem / 64);
        width: 100%;

        ul {
            width: 100%;
            overflow: hidden;

            li {
                width: 50%;
                float: left;

                a {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    // 超级单品
    .super {
        width: 100%;

        .top {
            width: 100%;
            height: (60rem / 64);
            background-color: #fff;

            h2 {
                float: left;
                font-size: (24rem / 64);
                font-weight: 700;
                margin-left: (20rem / 64);
                // margin-top: (7rem / 64);
                line-height: (60rem / 64);
            }


            span:nth-child(even) {
                background-color: #000;
                color: #fff;
                margin-left: (10rem / 64);
                // padding-top: (20rem / 64);
                line-height: (60rem / 64);
                padding: 0 2px;
                border-radius: 2px;
            }


            p {
                float: right;
                line-height: (60rem / 64);
                color: #ff6700;
                font-size: (24rem / 64);
                font-weight: 600;
                margin-right: (10rem / 64);
            }
        }
    }

    .bottom {
        width: 100%;

        ul {
            width: 100%;
            overflow: hidden;

            li {
                width: 50%;
                float: left;


                img {
                    width: 100%;
                }

            }
        }
    }

    .adv1 {
        width: 100%;
        margin-top: (10rem / 64);

        img {
            width: 100%;
        }
    }


    .banner {
        overflow: hidden;
        width: 100%;
        height: (260rem / 64);
        background-color: #fff;
        margin-top: (10rem / 64);

        ul {
            overflow-x: scroll;
            cursor: pointer;

            &::-webkit-scrollbar {
                height: (150rem / 64);
            }

            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
            }
        }

        li {

            overflow: hidden;
            text-align: center;
            color: #fff;

            xa &:first-child {
                margin-left: 0;
            }
        }
    }

    .flex {
        ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        li {
            flex-shrink: 0;
            // flex-basis: 90px;
            width: (190rem / 64);
        }

        img {
            width: 100%;

        }

        span {
            display: block;
            color: #000;
        }
    }



    .adv2 {
        width: 100%;

        margin-top: (5rem / 64);

        img {
            width: 100%;
        }
    }

    .banner1 {
        overflow: hidden;
        width: 100%;
        height: (230rem / 64);
        background-color: #fff;
        margin-top: (10rem / 64);

        ul {
            overflow-x: scroll;
            cursor: pointer;

            &::-webkit-scrollbar {
                height: (150rem / 64);
            }

            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
            }
        }

        li {

            overflow: hidden;
            text-align: center;
            color: #fff;

            xa &:first-child {
                margin-left: 0;
            }
        }
    }

    .flex1 {
        ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        li {
            flex-shrink: 0;
            // flex-basis: 90px;
            width: (190rem / 64);
        }

        img {
            width: 100%;

        }

        span {
            display: block;
            color: #000;
        }
    }

    .adv3 {
        width: 100%;
        margin-top: (5rem / 64);

        img {
            width: 100%;
        }
    }

    .banner2 {
        overflow: hidden;
        width: 100%;
        height: (230rem / 64);
        background-color: #fff;
        margin-top: (10rem / 64);

        ul {
            overflow-x: scroll;
            cursor: pointer;

            &::-webkit-scrollbar {
                height: (150rem / 64);
            }

            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
            }
        }

        li {

            overflow: hidden;
            text-align: center;
            color: #fff;

            xa &:first-child {
                margin-left: 0;
            }
        }
    }

    .flex2 {
        ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        li {
            flex-shrink: 0;
            // flex-basis: 90px;
            width: (190rem / 64);
        }

        img {
            width: 100%;

        }

        span {
            display: block;
            color: #000;
        }
    }

    .adv4 {
        width: 100%;
        margin-top: (5rem / 64);

        img {
            width: 100%;
        }
    }

    .banner3 {
        overflow: hidden;
        width: 100%;
        height: (230rem / 64);
        background-color: #fff;
        margin-top: (10rem / 64);

        ul {
            overflow-x: scroll;
            cursor: pointer;

            &::-webkit-scrollbar {
                height: (150rem / 64);
            }

            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
            }
        }

        li {

            overflow: hidden;
            text-align: center;
            color: #fff;

            xa &:first-child {
                margin-left: 0;
            }
        }
    }

    .flex3 {
        ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        li {
            flex-shrink: 0;
            // flex-basis: 90px;
            width: (190rem / 64);
        }

        img {
            width: 100%;

        }

        span {
            display: block;
            color: #000;
        }
    }
}